<div class="container">
  <div>
    <h1>Stupid Coaching</h1>
  </div>

  <div>
    <%= "#{@input}" %>
  </div>
  <div>
    <%="- You"%>
  </div>

  <div>
    <%= "#{@answer}" %>
  </div>
  <div>
-   <%= "Your Coach" %>
  </div>


  <div>
    <%= link_to "Ask a new question", "/ask" %>
  </div>
</div>
